.customer-list-container {
  padding: 40px;
}

.customer-list-container h1 {
  color: var(--text-h);
  margin-bottom: 30px;
}


.customer-profile-btn {
  background-color: var(--text-h);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
}

