* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #cfcfcf;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* MAIN LAYOUT */
.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #cfcfcf;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: hsl(0, 0%, 81%);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  overflow: visible;
}

/* TOP LOGO AREA */
.sidebar-top {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 1px;
  flex-shrink: 0;
  overflow: visible;
}

/* LOGO */
.logo {
  width: 230px;
  height: 230px;
  object-fit: contain;
}

/* LOGO TEXT */
.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10px;
  min-width: unset;
}

.logo-text p {
  font-size: 16px;
  color: #444;
  margin-top: 0;
  white-space: nowrap;
  margin-left: -30px;
}

/* MENU AREA */
.menu-wrapper {
  padding-top: 36px;
  flex: 1;
  overflow-y: auto;
}

/* MENU TITLE */
.menu-title {
  font-size: 22px;
  color: #555;
  margin-left: 16px;
  margin-bottom: 34px;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* MENU ITEMS */
.menu-item {
  height: 52px;
  border: none;
  background: transparent;
  text-align: left;
  padding-left: 16px;
  font-size: 18px;
  color: #555;
  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover {
  background: #d8d8d8;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

/* TOPBAR */
.topbar {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 22px;
  gap: 10px;
  flex-shrink: 0;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* CONTENT AREA */
.content-area {
  flex: 1;
  background: #cfcfcf;
  overflow: hidden;
  min-height: 0;
  padding: clamp(10px, 1.5vh, 16px) clamp(10px, 1.5vw, 16px);
}